.header__main {
    padding: 0 2%;
    background-color: #333333;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
}
.header__main .logo {
    display: inline-block;
    width: 60%;
    color: white;
}
.header__main h1 {
    display: inline-block;
    margin: 0;
    padding: 10px 2% 15px;
    background-color: #ff6600;
    font-size: 4.5em;
}
.header__main .logo h1 a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 1.2em;
}
.header__main .logo p {
    display: inline-block;
    margin-left: 2%;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    top: -5px;
}
.header__main .contacts {
    width: 30%;
    display: inline-block;
    float: right;
    text-align: right;
}
.header__main .contacts .phone img {
    width: 42px;
    height: 42px;
    position: relative;
    top: 5px;
}
.header__main .contacts .phone span {
    color: white;
    font-size: 2.5em;
    margin-left: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
.header__main .contacts .address {
    position: relative;
    top: -20px;
}
.header__main .contacts .address > div {
    display: inline-block;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
.header__main .contacts .address .address__city {
    font-size: 2.4em;
    margin-right: -60px;
}
.header__main .contacts .address .address__region img {
    height: 30px;
    width: 30px;
    position: relative;
    top: 5px;
    margin: 0 10px;
}
.header__main .contacts .address .address__region span {
    font-size: 1.4em;
    display: inline-block;
    width: 55%;
    word-wrap: break-word;
    text-align: left;
    position: relative;
    top: 15px;
}
